<article class='table'>
  <div class='table-title'>Products Added</div>
  <div class='table-header-row'>
    <div class='table-header-cells'>Product</div>
    <div class='table-header-cells'>Price</div>
    <div class='table-header-cells'>Photo</div>
  </div>
  {{#if data}}
    <div class='table-body'>
      {{#each data}}
        <div class='table-row'>
          <div class='table-cell'>{{this.productName}}</div>
          <div class='table-cell'>{{this.price}}</div>
          <div class='table-cell-image'>
            <img class="img-product" src= "./images/{{this.thumbnail}}"></img> 
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</article>
{{#if isEmpty}}
  <div class='table-row-empty-message'>No hay productos agregados!</div>
{{/if}}